/* Gerais */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: black;
    font-size: 16px;
}

/* Barra de navegação */

header, .navbar {
    background-color: black;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.nav-item.active {
    border-bottom: 3px solid #FFF;
}

#zapzap-menu {
    font-size: 18px;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

.group-btn {
    background-color: black;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.group-btn:hover {
    text-decoration: none;
    color: #FFF;
    border-color: #831157;
}

.main-btn {
    background-color: black;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    border-color: #831157;
}

.carousel-indicators .active {
    background-color: #831157;
}

/* Sobre a empresa */

#about-area {
    background-color: #D9C3E4;
}

.main-title {
    color: #831157;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #831157;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

#about-title p {
    margin-top: 10px;
    font-size: 16px;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
    font-size: 16px;
    margin-top: 10px;
}

#about-list i {
    color: purple;
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
    width: auto;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.service-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.service-box p {
    font-size: 16px;
    margin-top: 10px;
}

.service-box:hover>i, .service-box:hover>h4 {
    color: purple;
}

/* Dados */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */

#team-area {
    background-color: #f1f1f1;
}

.card-body {
    text-align: center;
}

.card-text {
    font-size: 16px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
}

.card {
    border-color: #444;
    border-width: 8px;
    margin-top: 15px;
}

/* Formulario */

#apply-area {
    height: 400px;
    max-height: 400px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

.apply-box h4 {
    color: #f1f1f1;
    font-size: 29px;
    font-weight: bold;
    /* margin-top: 8%;
    text-transform: uppercase; */
}

.apply-box p {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 10px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: black;
    transition: .5s;
}

#apply-btn:hover {
    text-decoration: none;
    color: #FFF;
    border-color: #831157;
    background-color: #831157;
}

#apply-btn {
    background-color: black;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

/* Projeto */

#project-area {
    background-color: #f1f1f1;
}

.project-box img {
    width: 75%;
    margin-bottom: 30px;
    margin-top: 30px;
    vertical-align: middle;
    background-color: #252525;
}

.project-box1 img {
    width: 75%;
    margin-bottom: 30px;
    margin-top: 30px;
    vertical-align: middle;
    background-color: #1f0101;
}

/* newslatter */

#news-area {
    background-color: #f9f9f9;
    text-align: center;
}

#news-area p {
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #831157;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #831157;
    background-color: black;
    text-transform: uppercase;
    color: #f1f1f1;
    height: 40px;
    padding: 0 30px;
    margin-left: -100px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover {
    background-color: #831157;
    color: black;
}

/* Rodapé */

#copy-area {
    background-color: black;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
    color: #f1f1f1;
}

#copy-area .container a {
    font-weight: bold;
    color: #831157;
}

#copy-area .container a:hover {
    text-decoration: none;
    color: #f1f1f1;
    transition: .4s;
}

/* responsivo */

@media(max-width: 768px) {
    /* geral */
    .container {
        padding: 40px 0;
    }
    /* slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: auto;
    }
    #mainSlider .carousel-caption h2 {
        font-size: 28px;
    }
    #mainSlider .carousel-caption p {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .carousel-caption {
        left: 10px;
        right: 10%;
    }
    /* about */
    #about-area img {
        margin-top: 100px;
    }
    /* data */
    .circle-box {
        padding: 0 10px;
    }
    #data-area p {
        font-size: 16px;
    }
    /* team */
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 12px;
    }
    /* apply */
    #apply-area .apply-box {
        padding: 50px 25px;
    }
    /* news */
    #news-area p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #email-input {
        width: 70%;
    }
}

@media(max-width: 425px) {
    /* slider */
    #mainSlider {
        margin-top: 90px;
    }
    #mainSlider .carousel-caption {
        top: 5%;
    }
    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }
    #mainSlider .carousel-caption p {
        display: none;
    }
    .carousel-caption .main-btn {
        font-size: 15px;
    }
    .carousel-caption .group-btn {
        font-size: 15px;
    }
    /* about */
    .main-title {
        font-size: 30px;
    }
    #about-area img {
        margin-top: 0;
        margin-bottom: 30px;
    }
    /* data */
    .circle-box {
        width: 50%;
    }
    #team-area .col-md-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    /* apply */
    #apply-area {
        height: auto;
    }
    #company-img {
        display: none;
    }
    /* filter */

    #portfolio-area .main-title {
        font-size: 28px;
    }
    .project-box {
        width: 50%;
    }
    /* contact */
    .contact-box {
        border: none;
        margin-bottom: 0;
    }
    /* news */
    #news-area .main-title {
        font-size: 24px;
    }
    #news-area p {
        font-size: 16px;
    }
    #email-input {
        width: 80%;
    }
}

.box-cookies.hide {
    display: none !important;
  }
  
  .box-cookies {
    position: absolute;
    background: rgba(0, 0, 0, .9);
    width: 40%;
    margin: 0 0 50px 30px;
    z-index: 998;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .box-cookies .msg-cookies,
  .box-cookies .btn-cookies {
    text-align: center;
    padding: 25px;
    color: #fff;
    font-size: 16px;
  }
  
  .box-cookies .btn-cookies {
    background: #831157;
    cursor: pointer;
    align-self: normal;
  }
  
  @media screen and (max-width: 600px) {
    .box-cookies {
      flex-direction: column;
    }
  }